
h1 {
  font-size: 100px;
  color: #0000FF;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

p {
  color:#0000FF;
  font-size: 20px;
  margin: 20px 0px;
}

.hero {
  background: url("https://static.pexels.com/photos/57832/pexels-photo-57832.jpeg") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
