
h1 {
  font-size: 100px;
  color: #0000FF;
  font-family: 'Dancing Script', cursive;
}

p {
  color:#0000FF;
  font-size: 20px;
}

img {
  margin: 50px;
}

.hero {
  background: url("http://wallpoper.com/images/00/34/39/15/circuit-pcb_00343915.jpg") no-repeat center center;
  background-size: cover;
}
